<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>Detail Product - Hỏi Dân IT</title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            const avatarFile = $("#avatarFile");
            avatarFile.change(function (e) {
                const imgURL = URL.createObjectURL(e.target.files[0]);
                $("#avatarPreview").attr("src", imgURL);
                $("#avatarPreview").css({ "display": "block" });
            });
        });
    </script>

</head>

<body class="sb-nav-fixed">
    <!-- header -->
    <%- include('../layout/header'); %>
        <div id="layoutSidenav">
            <!-- side nav -->
            <%- include('../layout/sidenav'); %>

                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Manage Products</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                                <li class="breadcrumb-item active"><a href="/admin/product">Products</a></li>
                            </ol>
                            <div>
                                <div style="width: 600px; margin: auto;">
                                        <% errors.forEach(function(error) { %>
                                            <div class="alert alert-danger mb-3">
                                                <%= error %>
                                            </div>
                                            <% }); %>
                                            
                                            <h3 style="padding: 10px 0;">Detail a product:</h3>
                                            <form action="/admin/update-product" method="post"
                                                enctype="multipart/form-data">
                                                <input type="hidden" name="id" value="<%=product.id%>">
                                                <div class="row">
                                                    <div class="mb-3 col-6">
                                                        <label class="form-label">Name:</label>
                                                        <input value="<%=product.name%>" type="text" name="name"
                                                            class="form-control" placeholder="laptop name">
                                                    </div>
                                                    <div class="mb-3 col-6">
                                                        <label class="form-label">Price</label>
                                                        <input value="<%=product.price%>" type="username" name="price"
                                                            class="form-control" placeholder="100.000 VND">
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Detail Description</label>
                                                    <textarea class="form-control" name="detailDesc" rows="2"
                                                        placeholder="abc...."
                                                        rows="3"><%=product.detailDesc%></textarea>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-3 col-6">
                                                        <label class="form-label">Short Description</label>
                                                        <input placeholder="abc...." value="<%=product.shortDesc%>"
                                                            type="text" class="form-control" name="shortDesc">
                                                    </div>
                                                    <div class="mb-3 col-6">
                                                        <label class="form-label">Quantity</label>
                                                        <input placeholder="1" value="<%=product.quantity%>" type="text"
                                                            class="form-control" name="quantity">
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="mb-3 col-6">
                                                        <label class="form-label">Factory</label>
                                                        <select name="factory" class="form-select">
                                                            <% factoryOptions.forEach(function(factory) { %>
                                                                <option value="<%= factory.value %>" 
                                                                    <% if (factory.value === product.factory) { %> selected <% } %>>
                                                                    <%= factory.name %>
                                                                </option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3 col-6">
                                                        <label class="form-label">Target</label>
                                                        <select name="target" class="form-select">
                                                            <% targetOptions.forEach(function(target) { %>
                                                                <option value="<%= target.value %>" 
                                                                    <% if (target.value === product.target) { %> selected <% } %>>
                                                                    <%= target.name %>
                                                                </option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                </div>


                                                <div class="mb-3">
                                                    <label for="avatarFile" class="form-label">Image</label>
                                                    <input class="form-control" type="file" name="image" id="avatarFile"
                                                        accept=".png, .jpg, .jpeg">
                                                </div>
                                                <% if (product.image) { %>
                                                    <img style="max-height: 250px; display: block;" alt="avatar preview" id="avatarPreview"
                                                        src="/images/product/<%=product.image%>" <% } else { %>
                                                    <img style="max-height: 250px; display: none;" alt="avatar preview" id="avatarPreview""
                                                                                                            <% } %>
                                                
                                                                                            />


                                                <div class="mb-3">
                                                    <button class="btn btn-warning mt-3">Submit</button>
                                                </div>
                                            </form>
                                </div>
                            </div>
                        </div>

                    </main>
                    <!-- footer -->
                    <%- include('../layout/footer'); %>

                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="/admin/js/scripts.js"></script>
</body>

</html>